%h3 My created maps

- if @maps.present?
  %table.table.table-condensed.ranking
    %thead
      %th Score
      %th Map Name
      %th{title: 'Times this map was played on the ladder'} Games
      %th{title: 'Ladder games where the played died on this map'} Deaths
    %tbody
      - @maps.each_with_index do |map, i|
        %tr
          %td.short= map.score
          %td= link_to map.name, map
          %td= map.played_games
          %td= map.won_games

- else
  %p You have not created any map yet.
  %p
    %a{href: root_path} Create a new map
