#home-page
  #home-header
    .container
      = bootstrap_flash

      %h1.jumpcraft-block
        %img(src="jumpcraft-cover-city.png" alt="Jumpcraft")

      #signup-buttons-wrapper
        - if user_signed_in?
          #signup-buttons.jumpcraft-block.one-button
            %a.btn.btn-large{href: play_path}
              Play

        - else
          #signup-buttons.jumpcraft-block.two-buttons
            %a.btn.btn-large{href: new_user_session_path}
              Sign in

            %a.btn.btn-large{href: new_user_registration_path}
              Create account

  #home-game-info
    .container

      %h4 Tons of Unique Challenges
      %p Every challenge in the game has been created by a player like you. Anyone can upload a new challenge at any time! But to keep things interesting, each challenge is automatically ranked by difficulty, so you'll always have something fun to play. Just like YouTube, but with less cats.

      %h4 Compete and Rise in the Rankings
      %p As you test yourself against these challenges, you'll level up as you succeed and level down as you fail, along with every other player on a global ranking list. If you do well, you can rise to the top and earn the admiration and envy of millions! Or, perhaps dozens. Depending on how many people actually play this thing.

      %h4 Create and Watch Your Creation Soar
      %p If you like making stuff, you can make stuff here, too - and have an audience for it! Every challenge you create is immediately pitted against other players of the same skill level, and if you can devise a difficult challenge that lots of people like to play, it will rise in the rankings too. You can watch your creation fight for you, and feel the satisfaction that every accomplished deathtrap designer knows, as countless adventurers find their doom in your ingenious defenses. Sweet!

  #home-credits
    .container

    %h4 Credits
    %table.credits
      %tr
        %td.credit Design
        %td.dash -
        %td.author Alex Cho Snyder & Mario Izquierdo
      %tr
        %td.credit Art & Animation
        %td.dash -
        %td.author Alex Cho Snyder
      %tr
        %td.credit Sounds & Music
        %td.dash -
        %td.author Mario Izquierdo
      %tr
        %td.credit Gameplay Programming
        %td.dash -
        %td.author Alex Cho Snyder
      %tr
        %td.credit Web & Backend Programming
        %td.dash -
        %td.author Mario Izquierdo




