#home-page
  #home-header
    .container
      = bootstrap_flash

      %h1.jumpcraft-block
        %img(src="jumpcraft-cover-city.png" alt="Jumpcraft")

      #signup-buttons-wrapper
        - if user_signed_in?
          #signup-buttons.jumpcraft-block.one-button
            %a.btn.btn-large{href: play_path}
              Play

        - else
          #signup-buttons.jumpcraft-block.two-buttons
            %a.btn.btn-large{href: new_user_session_path}
              Sign in

            %a.btn.btn-large{href: new_user_registration_path}
              Create account

  #home-game-info
    .container

      %h4 Jumpcraft is Player vs Challenge
      %p
        In the Jumpcraft universe, players beat challenges created by other players.
        You can create your own challenges, but you will have to show that you can finalize your own challenge before making it public.

      %h4 Rankings and Rating System
      %p
        Both players and challenges can level up and down. Every ranked game will update both player and challenge levels, making not only a competitive ranking for players but also for challenges. This also helps the system to suggest challenges that are of the appropriate difficulty level.
      %p
        After each ranked game, the player and challenge level update is done using the Trueskill Rating System.

  #home-credits
    .container

    %h4 Credits
    %table.credits
      %tr
        %td.credit Design
        %td.dash -
        %td.author Alex Cho & Mario Izquierdo
      %tr
        %td.credit Art & Animation
        %td.dash -
        %td.author Alex Cho
      %tr
        %td.credit Sounds and Music
        %td.dash -
        %td.author Mario Izquierdo
      %tr
        %td.credit Frontend programming (gameplay)
        %td.dash -
        %td.author Alex Cho
      %tr
        %td.credit Backend & Web programming (servers)
        %td.dash -
        %td.author Mario Izquierdo




