/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

// Flixel font face
@font-face {
  font-family: "Flixel";
  src: url("/nokiafc22.ttf") format('truetype');
}
.btn,
.navbar a,
.flixel-font,
h1, h2, h3, h4 {
  font-family: "Flixel", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

// Tables
table {
  td.short {
    width: 60px;
  }

  canvas.map-canvas {
    display: block;
    float: left;
    margin-right: 10px;
    cursor: pointer;
  }
}

#swf-container {
  display: block;
  margin: 0 auto 40px;
  border: 1px solid #ccc;
}

.jumpcraft-block {
  background: black;
  padding: 2px;
  border: 2px dashed white;
  box-shadow: 0 0 0 4px black;
}

#home-page {
  h1 {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    display: block;
    width: 411px;
    height:372px;
    padding: 5px;
    margin: 28px auto 20px auto;
    img {
      display: block;
      width: 411px;
      height:372px;
    }
  }
  #signup-buttons-wrapper { text-align: center; }
  #signup-buttons {
    display: inline-block;
    margin: 10px auto 30px;
    padding: 20px;
    text-align: center;
    &.one-button {

    }
    &.two-buttons {
      a.btn:first-child {
        margin-right: 20px;
      }
    }
  }

  #home-game-info {
    background-color: #dedede;
    padding: 20px;
    h4 {
      text-align: center;
    }
  }

  #home-credits {
    padding: 20px;
    text-align: center;

    table.credits {
      margin: auto;
      td.credit {
        text-align: right;
        width: 400px;
        vertical-align: text-top;
      }
      td.dash {
        text-align: center;
        vertical-align: text-top;
      }
      td.author {
        text-align: left;
        width: 400px;
        vertical-align: text-top;
      }
    }
  }
}